<div class="container flex justify-center items-center mx-auto">
  <div
    class="flex items-center justify-between w-full h-20 bg-gray-50 border-b border-black shadow-gray-400 font-fustat px-6"
  >
    <div
      class="flex items-center space-x-rtl-4 justify-center cursor-pointer"
      routerLink="/"
    >
      <img src="/icon.png" alt="RightBrothers Icon" class="w-16" />
    </div>
    <div></div>
    <div class="flex items-center space-x-rtl-4 justify-center text-xl">
      @if ((role) === 'Admin') {
      <app-button bgColor="bg-cyanBlue" borderColor="border-cyanBlue">
        لوحة التحكم
      </app-button>
      } @if (isLoggedIn$ | async) {
      <app-button
        bgColor="bg-red-500"
        borderColor="border-red-600"
        (click)="logout()"
      >
        تسجيل الخروج
      </app-button>
      } @else {
      <app-button
        borderColor="border-cyanBlue"
        bgColor="bg-cyanBlue"
        [routerLink]="['auth/login']"
        >دخول</app-button
      >
      <app-button [routerLink]="['auth/signup']"> إنشاء حساب </app-button>
      }
    </div>
  </div>
</div>
