<div
  class="w-fit mx-auto mt-28 mb-12 xl:mt-56 font-fustat flex flex-col space-y-5 items-center"
>
  <div class="flex justify-between items-center w-full px-10">
    <h2 class="text-3xl font-bold">خارطة التنفيذ</h2>
    <button
      class="rounded-xl hover:opacity-80 duration-200 text-xl p-2 border border-brownBlue bg-brownBlue text-white"
    >
      فلترة
      <i class="fa-solid fa-filter"></i>
    </button>
  </div>

  <div
    class="p-10 text-center flex-col xl:flex-row items-center flex justify-center xl:items-start space-y-6 xl:space-y-0 xl:space-x-rtl-6"
  >
    <app-request-card
      title="قيد المراجعة"
      colorClass="bg-blue-800 border-blue-800"
    >
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخل إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخول إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
    </app-request-card>

    <app-request-card
      title="قيد العمل"
      colorClass="bg-yellow-500 border-yellow-500"
    >
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخل إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخول إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
    </app-request-card>

    <app-request-card
      title="تم التنفيذ"
      colorClass="bg-green-800 border-green-800"
    >
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخل إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخول إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخول إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
      <app-request-item
        votesCount="341"
        requestTitle="السماح لمستخدمين أكثر بالدخول إلى نفس المنصة"
        requestType="اقتراح إضافة"
      ></app-request-item>
    </app-request-card>
  </div>
</div>
