<form
  [formGroup]="form"
  class="flex flex-col justify-center items-center space-y-6 font-fustat"
  (ngSubmit)="onSubmit()"
>
  @if (errorMessage) {
  <p class="text-red-500 text-sm mb-4">{{ errorMessage }}</p>
  }
  <div class="relative w-96">
    <input
      formControlName="fullname"
      type="text"
      id="fullname"
      placeholder=" "
      class="peer block w-full rounded-md border border-gray-300 px-3 pt-8 pb-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />
    <label
      for="fullname"
      class="absolute right-3 top-2 text-gray-800 text-sm transition-all peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-gray-600 peer-focus:text-sm"
    >
      الاسم الكامل
    </label>
    @if (form.get('fullname')?.invalid && form.get('fullname')?.touched){
    <p class="text-red-500 text-sm mt-1">
      الاسم الكامل مطلوب، ويجب أن يزيد عن ثلاثة أحرف
    </p>
    }
  </div>
  <div class="relative w-96">
    <input
      formControlName="phoneNumber"
      type="text"
      id="phoneNumber"
      placeholder=" "
      class="peer block w-full rounded-md border border-gray-300 px-3 pt-8 pb-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />
    <label
      for="phoneNumber"
      class="absolute right-3 top-2 text-gray-800 text-sm transition-all peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-gray-600 peer-focus:text-sm"
    >
      رقم الهاتف
    </label>
    @if (form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched){
    <p class="text-red-500 text-sm mt-1">
      رقم الهاتف مطلوب، ويجب أن يكون رقمًا صحيحًا
    </p>
    }
  </div>
  <div class="relative w-96">
    <input
      formControlName="email"
      type="email"
      id="email"
      placeholder=" "
      class="peer block w-full rounded-md border border-gray-300 px-3 pt-8 pb-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />
    <label
      for="email"
      class="absolute right-3 top-2 text-gray-800 text-sm transition-all peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-gray-600 peer-focus:text-sm"
    >
      البريد الإلكتروني
    </label>
    @if (form.get('email')?.invalid && form.get('email')?.touched){
    <p class="text-red-500 text-sm mt-1">
      البريد الإلكتروني مطلوب، ويجب أن يكون بريدًا إلكترونيًا صالحًا
    </p>
    }
  </div>
  <div class="relative mt-4 w-96">
    <input
      formControlName="password"
      type="password"
      id="password"
      placeholder=" "
      class="peer block w-full rounded-md border border-gray-300 px-3 pt-8 pb-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />
    <label
      for="password"
      class="absolute right-3 top-2 text-gray-800 text-sm transition-all peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-gray-600 peer-focus:text-sm"
    >
      كلمة المرور
    </label>
    @if (form.get('password')?.invalid && form.get('password')?.touched){
    <p class="text-red-500 text-sm mt-1">
      كلمة المرور مطلوبة، ويجب أن تكون 8 أحرف على الأقل، تحتوي على (حرف كبير،
      حرف صغير، رقم)
    </p>
    }
  </div>
  <div class="relative mt-4 w-96">
    <input
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      placeholder=" "
      class="peer block w-full rounded-md border border-gray-300 px-3 pt-8 pb-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
    />
    <label
      for="confirmPassword"
      class="absolute right-3 top-2 text-gray-800 text-sm transition-all peer-placeholder-shown:top-5 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:text-gray-600 peer-focus:text-sm"
    >
      تأكيد كلمة المرور
    </label>
    @if (form.get('confirmPassword')?.invalid &&
    form.get('confirmPassword')?.touched){
    <p class="text-red-500 text-sm mt-1">كلمة المرور غير متطابقة</p>
    }
  </div>
  <div class="flex items-center space-x-rtl-3 w-96">
    <button
      type="submit"
      class="bg-blue-500 text-white p-2 rounded text-lg hover:bg-blue-600 duration-200 w-1/2"
    >
      أنشئ حساباً
    </button>
    <!-- add login with google -->
    <button
      type="button"
      (click)="onGoogleClick()"
      class="flex items-center gap-3 px-4 py-2 w-1/2 bg-white border rounded shadow hover:bg-gray-50"
    >
      <i class="fa-brands fa-google text-red-500 text-lg"></i>
      <span class="text-gray-800 font-medium text-lg">أنشئ عبر جوجل</span>
    </button>
  </div>
</form>
