<div class="flex flex-col gap-8">
  <div>
    <h2 class="text-2xl font-bold text-slate-800 mb-2">الأخطاء المبلغة</h2>
    <p class="text-slate-500 leading-relaxed">
      واجهت مشكلة؟
      <span class="text-red-600 font-bold">يرجى البحث أولاً</span>
      للتأكد من أن الخطأ لم يتم الإبلاغ عنه مسبقاً.
    </p>
  </div>

  <app-request-form context="bug" (onSuccess)="onRequestCreated()">
  </app-request-form>

  <div class="flex flex-col gap-4">
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-4 bg-white p-3 rounded-xl border border-slate-200 shadow-sm"
    >
      <div class="w-full md:w-1/2">
        <p-iconField iconPosition="left">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            type="text"
            pInputText
            [(ngModel)]="searchQuery"
            placeholder="بحث في الأخطاء المبلغة..."
            class="w-full border-none shadow-none focus:ring-0"
          />
        </p-iconField>
      </div>

      <p-selectButton
        [options]="sortOptions"
        [(ngModel)]="currentSort"
        optionLabel="label"
        optionValue="value"
        [unselectable]="true"
      />
    </div>

    <div
      class="flex flex-col gap-4 max-h-[600px] overflow-y-auto custom-scrollbar pr-2 pb-2"
    >
      @for (req of displayedRequests(); track req.id) {
      <app-request-card
        [request]="req"
        [showDescription]="true"
        [showCategory]="true"
        [categoryColor]="getCategoryColorById(req.categoryId)"
        (vote)="handleVote($event)"
      >
      </app-request-card>
      } @if (displayedRequests().length === 0) {
      <div
        class="text-center py-8 text-slate-400 text-sm border-2 border-dashed border-slate-100 rounded-xl"
      >
        <i class="pi pi-search text-4xl text-slate-300 mb-4 block"></i>
        <p class="text-slate-500 font-bold">لا توجد أخطاء مطابقة</p>
      </div>
      }
    </div>
  </div>
</div>
<p-toast position="bottom-left" dir="rtl"></p-toast>
