<div class="flex flex-col space-y-5 p-2">
  <div class="flex flex-col space-y-2">
    <h2 class="font-bold">اقتراحات الإضافة</h2>
    <p>
      الرجاء التأكد من عدم وجود الإضافة التي تود اقتراحها، ابحث من خلال خانة
      البحث عن اقتراحك!
    </p>
  </div>
  <div class="border rounded-md p-3">
    <form>
      <div class="flex flex-col space-y-2">
        <textarea
          appAutoResize
          name="title"
          placeholder="ضع هنا عنواناً مختصراً قصيراً..."
          class="resize-none p-3 rounded-lg outline-none placeholder:text-black bg-transparent"
        ></textarea>
        <textarea
          appAutoResize
          name="details"
          placeholder="اكتب تفاصيل الاقتراح..."
          class="resize-none p-3 rounded-lg outline-none placeholder:text-black bg-transparent"
        ></textarea>
        <select name="category" id="category" class="w-52">
          <option value="category" disabled selected>الفئة</option>
          <option value="ui">تحسين واجهة المستخدم</option>
          <option value="ux">تحسين تجربة المستخدم</option>
          <option value="enhancement">تحسينات أخرى</option>
        </select>
      </div>
    </form>
  </div>
  <div></div>
</div>
