<section id="hero" class="bg-lightGray">
  <div
    class="p-10 text-center h-screen flex justify-center items-center flex-col font-fustat"
  >
    <img src="RB-Accountant.svg" alt="RB Accountant logo" class="w-48" />
    <h3 class="text-4xl font-bold text-darkGrayBlue md:text-5xl mb-8">
      إدارة لجميع بيانات مؤسستك
    </h3>
    <p class="text-grayBlue text-2xl mb-10">
      حمل التطبيق الآن وابدأ في إدارة مؤسستك بكل سهولة ويسر، فقط بنقرة زر!
    </p>

    <div
      class="flex flex-col justify-center items-center space-y-6 md:flex-row md:space-y-0 md:space-x-rtl-4 text-white text-xl w-full"
    >
      <a
        href="https://github.com/Ahmed101Mohammed/RB-Accountant/releases/download/v2.1.1/RB.Accountant.Setup.2.1.1.exe"
        class="p-4 px-8 rounded-full bg-cyanBlue shadow-lg duration-200 hover:opacity-80"
        >تحميل لنظام ويندوز</a
      >

      <a
        href="#"
        class="text-blackBlue text-center text-sm underline duration-200 hover:opacity-80 hover:text-darkGrayBlue"
        >تواجه مشكلة في التطبيق؟ / تريد أن تقترح إضافة؟</a
      >
    </div>
  </div>
</section>
