<div class="flex mt-4 justify-start items-start space-x-rtl-3 w-72">
  <div
    class="group w-12 h-12 flex flex-col justify-center items-center space-y bg-white cursor-pointer border rounded-md p-2 duration-200 hover:bg-slate-100"
  >
    <i
      class="fa-solid fa-caret-up text-gray-600 text-2xl transform transition-transform duration-300 group-hover:-translate-y-1"
    ></i>
    <div>{{ votesCount }}</div>
  </div>
  <div class="text-right">
    <div
      class="text-xl duration-200 hover:text-brownBlue hover:text-opacity-90 cursor-pointer"
    >
      {{ requestTitle }}
    </div>
    <div class="text-sm font-bold mt-2 text-gray-600">{{ requestType }}</div>
  </div>
</div>
